
.About-container{
    margin-top: 4vh;
    background-color: white;
    height:91vh;
    width: 25vw;
    border-radius: 1.5vh;
    font-family: "Poppins", sans-serif;
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/}


.About-pic{

    margin: 5vh auto;
    height: 12vw;
    width: 12vw;
    border-radius: 25vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.About-pic img{
  
    height: 12vw;
    width: 12vw;
    border-radius: 50vw;

}


.Summary-container{
    margin-top: 5vh;
    margin-left: 2.5vw;
     
    height: 17vh;
    width: 20vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border-radius: 7vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

border: 1px solid rgb(202, 158, 158);
}

.s-start{
    padding-top: 2vh;
    font-weight: 600;
    text-align: center;
}

 .s-name{
    font-size: 2vw;
    
    text-align: center;
    font-weight: 600;
 }
 .s-work{
    font-size: 1vw;
    margin-bottom: 0.7vh;
    color: brown;
    font-weight: 600;
 }

.Contact-container{
    margin-top: 3vh;
    margin-left: 2.5vw;

    height: 25vh;
    width: 20vw;
   
    border-radius: 1.5vh;
 /*   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
}

.icons{
    display: flex;
    justify-content: space-around;
}

.icons img{
    margin-top:   1vh;
    width: 3.5vw; /* Set width based on 5% of viewport width */
    height: 3.5vw; /* Maintain aspect ratio */
    padding: 1vh;
    
    border-radius: 1vw;
    margin-top: vh; /* Set margin top to 1% of viewport height */
    background-color: black;
    flex-wrap: wrap;
    
}