

.Project-container{
    margin-top: 4vh;
    background-color: white;
    height: 44vh;
    width: 20vw;
    
    border-radius: 1.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.Project-container img{
    height: 44vh;
    width: 20vw;
 
    border-radius: 1.5vh;
}


.overlay-text {
    position: absolute;
    top: 10%; /* Adjusts the position of the text */
    left: 50%;
    transform: translate(-50%, -10%); /* Center the text horizontally */
    color: rgb(245, 239, 239);
    font-size: 3vw;
    font-family: sans-serif;
    
   
    pointer-events: none; /* Ensures text doesn't interfere with video interaction */
}



.Experience-container{
    margin-top: 4vh;
    background-color: white;
    height: 43vh;
    width: 20vw;
  
    border-radius: 1.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.project {
    padding-top: 12vh;
    overflow: hidden; /* Hide overflow to keep the container clean */
  }
  
  .outer-container {
    display: flex; /* Use flexbox for horizontal layout */
    padding: 10px; /* Optional padding */
  }
  
  .outer-card {
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
    margin-left: 1vw;
    border-radius: 4rem;
    background-color: rgb(224, 232, 223);
    border: 1px solid rgb(246, 240, 240);
    margin-right: 2rem; /* Add spacing between cards */
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card {
    height: 40vh;
    width: 20vw;
    border-radius: 2vw;
    display: flex; /* Center the text vertically and horizontally */
    align-items: center;
    justify-content: center;
   
   
  }
  

  .card img{
    height: 40vh;
    border-radius: 2vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
 .btn-back  {
   

    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.5rem;
    background-color: rgb(107, 24, 24);
    color: rgb(255, 255, 255);
    margin-left: 35vw;
    margin-bottom: 3vh;
 }
 
 .btn-project{
  margin-top:6vh;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
 
  background-color: rgb(255, 255, 255);
  border-radius: 1vw;
  border: rgb(248, 244, 244);
  box-shadow: 1px 2px 5px rgb(74, 74, 76)  ;
 }

 .center{
  display: flex;
  align-items: center;
  justify-content: space-around;
 }