

.Project-container{
    margin-top: 4vh;

    height: 44vh;
    width: 20vw;
 
    border-radius: 1.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.Experience-container{
    margin-top: 4vh;

    height: 43vh;
    width: 20vw;
  
    border-radius: 1.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}