
.App{
  padding-left: 15vw;
  padding-right: 15vw;
    padding-bottom: 15vh;
    display: flex ;
    justify-content: space-between;

   /* background-image: url('C:\Users\CTPL\Desktop\bhushan full\myport\public\bg.jpg');
    background-size: cover; /* Optional: ensures the image covers the entire element */
  /*  background-position: center; /* Optional: centers the image */
}
html, body {
    margin: 0; /* Remove default margin */
    height: 100%; /* Make sure body takes full height */
}


/* App.css */
.home-container {
  display: flex;
  flex-direction: row; /* Default direction for larger screens */
  
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column; /* Stack vertically on smaller screens */
  }

  .about {
    order: 1; /* Show About section first */
  }

  .tools {
    order: 2; /* Show Tools section second */
  }

  .project-and-exp {
    order: 3; /* Show Project and Experience section last */
  }
}
